.jumbotron
  .container
    //- h1 Roomba

    - colCss = 'col-xs-12 col-sm-6 col-md-3 m-t-1'
    - btnCss = 'btn btn-primary btn-lg w-100'

    .row
      div(class=colCss)
        a( href='#' class=btnCss data-click='action' data-action='clean' ) Clean

      div(class=colCss)
        a( href='#' class=btnCss data-click='action' data-action='dock' ) Dock

      div(class=colCss)
        a( href='#' class=btnCss data-click='action' data-action='full' ) Full

      div(class=colCss)
        a( href='#' class=btnCss data-click='action' data-action='reset' ) Reset
